<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Timestamp Microservice</title>
    <meta name="description" content="Timestamp Microservice">
</head>
<body style="font-family: Helvetica, sans-serif; font-size: 20px">
	<header><h1>Image Search Abstraction Layer</h1></header>
	<section>
		<h2>User Story</h2>
			<ol>
				<li>I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
				<li>I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
				<li>I can get a list of the most recently submitted search strings.</li>
			</ol>
	</section>
	<section>
		<h2>Format example</h2>
		<ul>
			<li><code><a href="https://url-shortener-klm.herokuapp.com/new/https://kennethlumalicay.github.io/portfolio/#">https://url-shortener-klm.herokuapp.com/new/https://kennethlumalicay.github.io/portfolio/#</a></code></li>
		</ul>
	</section>
	<footer>App made by <a href="https://kennethlumalicay.github.io/portfolio/" style="text-decoration: none">Kenneth Lu Malicay</a></footer>
</body>
</html>